<div id="notfound" class="color-back">
    <div class="notfound">
        <div class="notfound-404">
            <h1><span class="emoji"></span>{{$ctrl.status}}</h1>
        </div>
        <h2><span translate>ERROR_INFO.ERROR_SUBTITLE</span></h2>
        <p><span translate>ERROR_INFO.ERROR_MESSAGE</span></p>
        <a ng-click="$ctrl.goStartPage()">
            <span translate>ERROR_INFO.BUTTON_BACK_HOMEPAGE</span>
        </a>
        <a ng-click="$ctrl.reload()">
            <span translate>ERROR_INFO.BUTTON_REFRESH</span>
            <md-icon class="material-icons">refresh</md-icon>
        </a>
    </div>
</div>