<md-toolbar>
    <div class="title-toolbar-container" layout="row" layout-align="left">
        <span translate>CONTACT_DIALOG.TITLE</span>
    </div>
</md-toolbar>
<form class="form-dialog" autocomplete="off" layout-align="center center">
    <md-input-container class="user-container" layout="row" layout-align="left">
        <label translate>CONTACT_DIALOG.INPUT_NAME</label>
        <md-tooltip md-delay="400">
            <span translate>CONTACT_DIALOG.TOOLTIP.NAME</span>
        </md-tooltip>
        <md-icon class="material-icons">account_circle</md-icon>
        <input ng-model="name" type="text" required autocomplete="off" />
    </md-input-container>

    <md-input-container class="subject-container" layout="row" layout-align="left">
        <label translate>CONTACT_DIALOG.INPUT_SUBJECT</label>
        <md-tooltip md-delay="400">
            <span translate>CONTACT_DIALOG.TOOLTIP.SUBJECT</span>
        </md-tooltip>
        <md-icon class="material-icons">short_text</md-icon>
        <input ng-model="subject" type="text" required autocomplete="off" />
    </md-input-container>

    <md-input-container class="content-container" layout-align="left">
        <label translate>CONTACT_DIALOG.INPUT_ISSUE</label>
        <md-tooltip md-delay="400">
            <span translate>CONTACT_DIALOG.TOOLTIP.ISSUE</span>
        </md-tooltip>
        <md-icon class="material-icons">comment</md-icon>
        <textarea ng-model="issue" type="text" required autocomplete="off" max-rows="3" rows="3"></textarea>
    </md-input-container>

    <div class="buttons-container" layout="row" layout-align="center">
        <md-button class="md-primary btn-submit" type="submit" ng-click="$ctrl.submit()">
            <span translate>CONTACT_DIALOG.BUTTON_SUBMIT</span>
        </md-button>
        <md-button class="md-warn btn-cancel" type="reset" ng-click="$ctrl.cancel()">
            <span translate>CONTACT_DIALOG.BUTTON_CANCEL</span>
        </md-button>
    </div>
</form>
