@import "./src/resources/styles/_colors";
.contact-container {
    border-bottom: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-style: solid;
    border-color: skyblue;
    border-width: 2px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-left: 50px;
    margin-right: 50px;
}