@import "./src/resources/styles/_colors";
@import "./src/resources/styles/_mixins";

md-content {
    margin: {
        top: 5%;
        left: 5%;
        right: 5%;
    }

    background-color: transparent;
}

md-tabs.md-default-theme .md-tab.md-active,
md-tabs .md-tab.md-active {
    background: $gray;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    width: 25%;
    border-style: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

md-tabs .md-tab {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.480);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 8px;
    @include border-md-tab();
}

md-tabs [role="tabpanel"],
md-tabs md-ink-bar {
    transition: none;
}

md-tabs[md-border-bottom] md-tabs-wrapper {
    border-bottom: 0;
}

md-tabs md-ink-bar {
    background: rgba(0, 0, 0, 0.001);
}

md-tabs {
    height: 670px;
    overflow-y: hidden;
}

.tab-container {
    overflow: hidden;
}

md-pagination-wrapper,
md-tab-data,
md-tabs-wrapper {
    width: 611px;
}

md-prev-button {
    md-icon {
        padding-bottom: 640px;
        padding-top: 25px;
    }
}

md-next-button {
    md-icon {
        padding-bottom: 25px;
        padding-top: 640px;
    }
}

.day-container {
    background: $gray;
    border-radius: 15px;
    height: 95%;
    overflow: hidden;
    @include border-md-tab();
    border-top-style: none;
}

.tile {
    margin: 40px;
    border-radius: 15px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.445);
    height: 75%;
    color: rgba(255, 255, 255, 0.87);
    @include border-md-tab();
}