<md-content class="tab-container">
    <md-tabs layout="row"  layout-align="center">
        <md-tab label="today">
            <div class="day-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus augue id
                    nulla eleifend fringilla. Aliquam aliquet, ante sed dapibus auctor, erat lacus pellentesque ligula,
                    egestas eleifend justo purus vitae massa. Nunc vestibulum, orci sed mollis iaculis, tellus ante
                    vestibulum sapien, vestibulum blandit neque lectus at turpis. Etiam blandit eget dolor vel ultrices.
                    Integer tristique arcu id ante viverra venenatis. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Vestibulum odio erat, condimentum in est interdum,
                    finibus
                    tincidunt tortor. Cras hendrerit gravida diam sit amet facilisis. Proin quis elit dictum, tincidunt
                    neque varius, porta tortor. Maecenas justo velit, blandit nec risus eu, viverra auctor risus. Etiam
                    eget
                    vestibulum mauris. Nunc faucibus mollis ligula, sit amet volutpat orci dictum vel. Proin a lectus
                    augue.
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque
                    vestibulum lacinia semper. Aliquam tincidunt iaculis odio ac pharetra.</p>
            </div>
        </md-tab>
        <md-tab label="tomorrow">
            <div class="day-container">
                <p>Pellentesque et euismod justo, eget semper ante. Fusce lacinia arcu at urna
                    condimentum varius. In pulvinar nunc vitae finibus vehicula. Cras vel ex a lorem consectetur
                    vehicula
                    quis vel orci. Vivamus felis mauris, pulvinar sed libero nec, ornare ultrices odio. Ut tristique est
                    ac
                    elementum varius. Aliquam urna magna, feugiat ut pharetra sit amet, viverra et justo. Nunc aliquam
                    sit
                    amet orci non consequat. Cras mi quam, imperdiet eget sagittis non, posuere at mi. Cras sed elit in
                    turpis pretium faucibus.</p>
            </div>
        </md-tab>
        <md-tab label="third-day">
            <div class="day-container">
                <p>Quisque sed felis vitae turpis tincidunt ullamcorper id eu odio. Mauris sed
                    ullamcorper lectus, sit amet placerat velit. Donec quis commodo enim, sed cursus erat. In luctus
                    volutpat sem, at finibus odio efficitur sit amet. Proin at aliquam magna. Sed lobortis ante turpis,
                    in
                    sagittis nibh consequat laoreet. Nunc mauris nisl, tempor sit amet facilisis non, ultrices id massa.
                    Nulla id molestie mi.</p>
            </div>
        </md-tab>
        <md-tab label="fourth-day">
            <div class="day-container">
                <p>Nulla faucibus sem sed risus bibendum porttitor. Nulla condimentum eget quam
                    vitae auctor. Sed consequat mi pretium nulla dignissim, vitae mattis justo aliquam. Quisque
                    elementum
                    cursus enim, vitae eleifend dolor tincidunt et. Nunc mauris quam, rhoncus ut finibus nec, vestibulum
                    a
                    mauris. In ut enim sollicitudin, vehicula orci sed, condimentum purus. Praesent elementum est sit
                    amet
                    mattis elementum. Maecenas dapibus ac libero vel aliquam. Praesent congue, sapien in finibus
                    consequat,
                    mi augue condimentum sapien, ac iaculis sapien sapien ut justo. Phasellus quis orci tortor. Integer
                    mattis condimentum dui, congue rutrum enim sollicitudin ut. Maecenas consectetur euismod augue id
                    pulvinar. Nam vitae tellus quis dui sollicitudin efficitur ut et nunc. Nam aliquet congue massa eget
                    suscipit. Nunc at arcu est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                    cubilia Curae;</p>
            </div>
        </md-tab>
        <md-tab label="fifth-day">
            <div class="day-container">
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    Curae; In iaculis massa quis metus aliquet facilisis. Phasellus augue velit, pulvinar eget pulvinar
                    ac,
                    mattis quis augue. Aenean sit amet pharetra dui. Quisque tempus sollicitudin eleifend. Cras sed nisl
                    et
                    nulla lacinia auctor at vel ex. Vivamus molestie, felis eget euismod porta, magna ligula gravida
                    quam,
                    vel elementum enim eros vitae urna. Mauris efficitur vel mi nec malesuada. Nunc orci mi, iaculis in
                    tellus sit amet, euismod consectetur tellus. Nulla facilisi. In gravida suscipit nisi, ut maximus
                    massa.
                    Aliquam mollis odio erat, iaculis porttitor arcu efficitur at. Etiam eu magna nec nisi laoreet
                    eleifend.
                </p>
            </div>
        </md-tab>
    </md-tabs>
</md-content>