$salmon: rgb(255, 82, 82);
$brown: rgb(116, 32, 6);

main-page {
    form {
        flex-wrap: wrap;
    }

    md-input-container:not(.md-input-invalid) .md-input {
        color: $salmon;
    }

    md-input-container:not(.md-input-invalid) .md-input {
        border-color: rgb(117, 117, 117);
    }

    md-input-container:not(.md-input-invalid).md-input-focused {
        label {
            color: $salmon;
        }

        .md-input {
            border-color: $salmon;
        }
    }

    md-input-container:not(.md-input-invalid) .md-input label {
        color: skyblue;
    }

    .input-container {
        height: 40px;
        width: 75%;
        margin: 0;
        margin-left: 5%;
        padding-right: 5%;
    }

    input {
        width: 100%;
        border: 0;
    }

    .md-button {
        padding: 0;
        margin: 0;
        border: 0;
    }
}

start-page {

    md-input-container:not(.md-input-invalid) .md-input,
    md-input-container:not(.md-input-invalid).md-input-focused label {
        color: $salmon;
    }

    md-input-container:not(.md-input-invalid) .md-input {
        border-color: rgb(172, 172, 172);
    }

    md-input-container:not(.md-input-invalid).md-input-focused .md-input {
        border-color: $salmon;
    }

    md-input-container:not(.md-input-invalid) .md-input label {
        color: skyblue;
    }

    .input-container {
        height: 35px;
        width: 350px;
    }
}

.md-button {
    &.md-fab {
        background-color: $salmon;

        &:not([disabled]):hover {
            background-color: rgb(197, 65, 65);
        }
    }
}