start-page {
  html {
    height: 100%;
  }

  .img {
    background-image: url("../../resources/start-page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    display: flex;
  }

  body {
    height: 100%;
  }
}
