<div class="title-container" layout-align="center center">
    <div class="title" ui-sref="startPage" ui-sref-active="active">
        <md-tooltip md-delay="400">
            Go to home
        </md-tooltip>
        <h1 class="brown">C</h1>
        <h1 class="salmon">a</h1>
        <h1 class="skyblue">e</h1>
        <h1 class="brown">l</h1>
        <h1 class="salmon">u</h1>
        <h1 class="skyblue">m</h1>
        <h1 class="brown">W</h1>
        <h1 class="salmon">e</h1>
        <h1 class="skyblue">a</h1>
        <h1 class="brown">t</h1>
        <h1 class="salmon">h</h1>
        <h1 class="skyblue">e</h1>
        <h1 class="brown">r</h1>
        <a class="reg salmon">™</a>
    </div>
</div>
