@import "./src/resources/styles/_colors";
@import "./src/resources/styles/_mixins";

main-page {
    .title-container {
        padding: 10% 15%;
        :not([disabled]):hover {
            .skyblue{
                color: $color-hover-all;
                transition: all 0.3s cubic-bezier(0.54, 0.55, 0.54, 0.55);;
            }
        }
    }

    .title {
        cursor: pointer;
    }

    h1 {
        font-size: 2.2vw;
    }

    .reg {
        font-size: 1.9vw;
    }
}

start-page {
    .title-container {
        padding-top: 15%;
    }

    h1 {
        font-size: 60px;
    }

    .reg {
        font-size: 30px;
    }
}

.title {
    display: table;
}

h1,
.reg {
    display: table-cell;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}

.skyblue, .reg {
    color: skyblue;
}