@import "./src/resources/styles/_colors";
@import "./src/resources/styles/_mixins";

main-page {
    .title-container {
        padding: 10% 15%;
        :not([disabled]):hover {
            .salmon, .skyblue, .brown {
                color: $color-hover-all;
                transition: all 0.3s cubic-bezier(0.54, 0.55, 0.54, 0.55);;
            }
        }
    }

    .title {
        cursor: pointer;
    }

    h1 {
        font-size: 2.2vw;
    }

    .reg {
        font-size: 1.9vw;
    }
}

start-page {
    .title-container {
        padding-top: 7%;
        padding-bottom: 25px;
    }

    h1 {
        font-size: 40px;
    }

    .reg {
        font-size: 20px;
    }
}

.title {
    display: table;
}

h1,
.reg {
    display: table-cell;
}

.salmon, .skyblue, .brown, .reg {
    color: skyblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}