<md-content class="tab-container">
    <md-tabs layout="row" layout-align="center">
        <md-tab label="{{day.dayTitle}}" ng-repeat="day in $ctrl.listDays track by $index">
            <div class="day-container">
                <div class="row title-date-country">
                    <div class="date-title">
                        <md-tooltip md-direction="left" md-delay="400">
                            <span translate>CONTAINER_DAYS.TOOLTIP.DATE</span>
                        </md-tooltip>
                        {{day.main | date:'fullDate'}}
                    </div>
                    <a class="city-name">
                        <md-tooltip md-direction="right" md-delay="400">
                            <span translate>CONTAINER_DAYS.TOOLTIP.CITY_COUNTRY</span>
                        </md-tooltip>
                        {{::day.city.name}}, {{::day.city.country}}
                    </a>
                </div>
                <div class="tile">
                    <div class="row hour" ng-repeat="dayHour in day.hours track by $index">
                        <div>
                            <md-tooltip md-direction="left" md-delay="400">
                                <span translate>CONTAINER_DAYS.TOOLTIP.DAY_TIME</span>
                            </md-tooltip>
                            {{dayHour.hour | date:'shortTime'}}
                        </div>
                        <div class="row weather">
                            <div class="icon-temp">
                                <div>
                                    <img class="weather-icon" layout="row" layout-align="center center"
                                        ng-src='http://openweathermap.org/img/w/{{dayHour.weather.icon}}.png'>
                                    <md-tooltip md-direction="right" md-delay="400">
                                        {{dayHour.weather.description}}
                                    </md-tooltip>
                                </div>

                                <a class="temp">
                                    <md-tooltip md-direction="right" md-delay="400">
                                        <span translate>CONTAINER_DAYS.TOOLTIP.TEMPERATURE</span>
                                    </md-tooltip>
                                    {{dayHour.temperature}}°C
                                </a>
                            </div>
                            <div class="weather-info">
                                    <md-tooltip md-delay="400">
                                            <span translate>CONTAINER_DAYS.TOOLTIP.WEATHER_INFO</span>
                                        </md-tooltip>
                                <span translate>CONTAINER_DAYS.CLOUDS</span> {{dayHour.clouds}}%
                                <span translate>CONTAINER_DAYS.HUMIDITY</span>: {{dayHour.humidity}}%
                                <span translate>CONTAINER_DAYS.WIND</span>: {{dayHour.wind_speed}}m/s
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-tab>
    </md-tabs>
</md-content>
