<div class="img">
    <div class="left">
        <logo-letters></logo-letters>
        <div class="form-container">
            <input-button></input-button>
            <list-cities list-cities="$ctrl.lastSearches"></list-cities>
            <div class="separation">
                <md-icon class="material-icons icon">cloud</md-icon>
            </div>
            <div class="title-nearby-cities" layout="row" layout-align="center"><span translate>MAIN_PAGE.NEARBY_CITIES</span></div>
            <list-cities list-cities="$ctrl.nearbyCities"></list-cities>
        </div>
        <div class="contact-container" layout="row" layout-align="center">
            <md-button class="md-raised contact-button" ng-click="$ctrl.openContentDialog()">
                <md-tooltip md-direction="left" md-delay="400">
                    <span translate>MAIN_PAGE.TOOLTIP.BUTTON_HELP</span>
                </md-tooltip>
                <span translate>MAIN_PAGE.BUTTON_HELP</span>
            </md-button>
        </div>
    </div>
    <div class="right">
        <ui-view></ui-view>
    </div>
</div>