<div class="img">
    <div class="left">
        <logo-letters></logo-letters>
        <div class="form-container">
            <input-button></input-button>
            <list-cities list-cities="$ctrl.lastSearches"></list-cities>
            <div class="separation">
                <md-icon class="material-icons icon">cloud</md-icon>
            </div>
            <list-cities list-cities="$ctrl.nearbyCities"></list-cities>
        </div>
        <div class="contact-container" layout="row" layout-align="center">
            <md-button class="md-raised contact-button">
                <md-icon class="material-icons contact-icon">contact_support</md-icon>
            </md-button>
        </div>
    </div>
    <div class="right">
    </div>
</div>