<div class="img">
    <div class="left">
        <logo></logo>
        <div class="form-container">
            <form autocomplete="off" layout="row" layout-align="center center" ng-submit="$ctrl.searchCity($ctrl.city)">
                <md-input-container class="input-container">
                    <label>{{isSpanish ? 'Mostrarme el tiempo en...' : 'Show me the weather in...'}}</label>
                    <input type="text" ng-model="$ctrl.city" />
                </md-input-container>
                <md-button type="submit" class="md-fab md-mini">
                    <md-icon class="material-icons">search</md-icon>
                </md-button>
            </form>
            <div class="container-fluid" layout="row" layout-align="left center">
                <ul>
                    <li ng-click="$ctrl.searchCity(city)" ng-repeat="city in $ctrl.showCities() track by $index">{{city}}</il>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">
    </div>
</div>